*/Titre Entete*/
@font-face 
{ 
    font-family: 'Raleway';
    src: url('Raleway-Bold.ttf') format('truetype')
}

h1
{
    color: black;
    font-size: large;
    font-family: 'Raleway', Arial, Verdana, sans-serif;
}


*/Titre 2 Entete*/
h2
{
    color: blue;
}

*/Titre 3 Entete*/
h3
{
    color: blue;
}