@font-face 
{
    font-family: 'Raleway';
    src: url('C:/Users/mario/Documents/P2_livyns_marion/Reservia/Reservia_P2/styles/polices/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face 
{
    font-family: 'Raleway';
    src: url('C:/Users/mario/Documents/P2_livyns_marion/Reservia/Reservia_P2/styles/polices/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html 
{
    font-family: 'Raleway', Arial, Verdana, sans-serif;
    font-size: 62.5%;
}

body 
{
    font-size: 5em;
    margin: 0;
}

h1, h2, h3, h4 
{
    font-weight: bold;
}

a 
{
    color: black;
    text-decoration: none;
}

img 
{
    max-width: 100%;
}

ul 
{
    list-style: none;
}

.populaires, footer 
{
    background-color: #F2F2F2;
}

.stared 
{
    color: #0065FC;
}

header nav 
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header nav p 
{
    width: 50%;
}

header nav p:nth-child(2),
header nav p:nth-child(3) 
{
    order: 1;
    text-align: center;
    padding-bottom: 1em;
    border-bottom: 5px solid #F2F2F2;
}

header nav p img 
{
    width: 50%;
    padding-left: 1em;
}

header nav p.choix 
{
    border-bottom: 5px solid #0065FC;
}

header nav p.choix a 
{
    color: #0065FC;
}

.inscription 
{
    text-align: right;
}

.inscription a 
{
    font-weight: bold;
    color: #0065FC;
    padding-right: 1em;
}

.Recherches 
{
    padding: 0 1em;
}

.Recherches h1 
{
    font-size: 1em;
}

.Recherches p 
{
    font-size: 0.4em;
}

.Recherches form fieldset 
{
    border: 2px solid #F2F2F2;
    border-radius: 1em;
    padding: 0;
    display: flex;
}

.Recherches .fa-map-marker-alt 
{
    width: 7%;
    padding: .75em;
    border-top-left-radius: 0.75em;
    border-bottom-left-radius: 0.75em;
    text-align: center;
    background-color: #f2f2f2;
}

.Recherches input 
{
    width: 80%;
    border: none;
    font-size: 1em;
    padding-left: 1em;
    font-weight: bold;
}

.Recherches button 
{
    width: 17%;
    background-color: #0065FC;
    padding: 0;
    border-radius: 2.5em;
}

.Recherches button .inscription_bouton 
{
    font-size: 4em;
    color: #fff;
}

#filtres
{
    padding: 1em;
}

#filtres div 
{
    display: flex;
    flex-wrap: wrap;
}

#filtres div i 
{
    display: flex;
    align-items: center;
    padding-right: 0.5em;
    margin: 1em 0.5em 1em 0;
    border: 2px solid #F2F2F2;
    border-radius: 1.75em;
}

#filtres div i:before 
{
    padding: .75em;
    border-radius: 50%;
    background-color: #DEEBFF;
    color: #0065FC;
}

#filtres div i p 
{
    padding-left: .5em;
    margin: 0;
}

#filtres > i 
{
    display: flex;
    align-items: baseline;
}

#filtres > i:before 
{
    color: #0065FC;
    padding: 0.5em 0.75em;
    border-radius: 50%;
    border: 2px solid #F2F2F2;
}

#filtres > i p 
{
    font-weight: normal;
    padding-left: .5em;
}

.populaires,
.hebergements,
#activites 
{
    padding: 1em;
}

.populaires #titre
{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.populaires .list article 
{
    background-color: #ffffff;
    border-radius: 1em;
    padding: .5em;
    margin-bottom: 1em;
    display: flex;
}

.populaires .list article img 
{
    width: 33vw;
    height: 33vw;
    /*padding: .5em;*/
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    object-fit: cover;
}

.populaires .list article > div 
{
    width: 47vw;
    height: 33vw;
    padding: 0 .5em;
}

.populaires .list article div h4 
{
    margin: 0;
}

.populaires .list article div p 
{
    font-size: .75em;
}

.hebergements 
{
    font-size: .5em;
}

article 
{
    border-radius: 1em;
    padding: .5em;
    margin: 1em 0;
    box-shadow: 0px 0px 15px 10px #F2F2F2;
}

article img 
{
    width: 100%;
    height: 33vw;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.hebergements article h4,
.hebergements article p 
{
    margin: 0;
}

.hebergements p a 
{
    font-weight: bold;
}

footer 
{
    padding-top: 1em;
}

footer nav div p 
{
    font-weight: bold;
    padding-left: 40px;
}