*/Titre Entete*/
@font-face 
{ 
    font-family: 'Raleway';
    src: url('C:/MAMP/htdocs/marionlivyns_2_01072021/Header/Raleway-Bold.ttf') format('truetype')
}

figure figcaption h1
{
    color: black;
    font-size: X-large;
    font-family: 'Raleway', Arial, Verdana, sans-serif;
}


*/Titre 2 Entete*/
h2
{
    color: blue;
}

*/Titre 3 Entete*/
h3
{
    color: blue;
}